.sec1{
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    border: 0px;
    height: 120vh;
   
   }
   .container{
    display: flex;
    gap: 30px;
    border: 10px;
    align-items: center;
    justify-content: center;
    font-size: large;
   }
   .signup{

    background-color: rgb(255, 119, 0);
    border:rgb(255, 119, 0);
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
   }
   #grocery{
          font-size: 40px;
   }
   .G{
    color:rgb(255, 119, 0) ;

    
   }
   .container2{
    display: flex;
    justify-content: center;
    gap: 10px;
   }
  .head{
    font-size: 70px;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #call{
    color:rgb(255, 119, 0) ;
    
  }
  .op{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .box1,.box2,.box3,.box4{
    justify-content: center;
    align-items: center;
    background-color: aqua;
    padding: 25px;
    border-radius: 6px;
    width: 170px;
    text-align: center;
    box-shadow: 7px 7px 7px rgb(234, 231, 231);
  }
  .box1{
    background-color: rgb(255, 255, 228);
  }
  .box2{
    background-color: rgb(231, 245, 232);
  }
  .box3{
    background-color: rgb(250, 235, 238);
  }
  .box4{
     background-color: rgb(233, 227, 240);
  }
 .browse{
    display: flex;
    gap: 280px;
    justify-content: center;
    align-items: center;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 45px;
 }
 .arrow{
   
    color:rgb(255, 119, 0);
 }
 .container3{
 display: grid;
 grid-template-rows: 1fr 1fr;
 height: 100vh;

 }
 .names{
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 }
 .items{
    color: rgb(172, 172, 172);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: small;
 }
 .submit{
  display: flex;
  gap: 20px;
 }
 .watch{
       font-size: x-large;
 }
.container4{
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 90vh;
}
.garden{
    background-color: rgb(117, 188, 10);
    padding-left: 50px;
    display: flex;
    gap: none;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;

  border-radius: 20px;
  width: 300px;
  height: 230px;
  box-shadow: 7px 7px 7px rgb(190, 189, 189);

}
.diet{
    background-color: rgb(173, 235, 80);
    padding-left: 50px;
    display: flex;
    gap: none;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: black;
    width: 300px;
    border-radius: 20px;
    height: 230px;
    box-shadow: 7px 7px 7px rgb(190, 189, 189);
}
.organic{
    background-color: rgb(232, 165, 8);
    padding-left: 50px;
    display: flex;
    gap: none;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: aliceblue;
    width: 300px;
    border-radius: 20px;
    height: 230px;
    box-shadow: 7px 7px 7px rgb(190, 189, 189);
}
.see{
    color: black;
    background-color: aliceblue;
    border-radius: 4px;
    border-color: aliceblue;
    padding: 8px;
    margin-top: 20px;
}
.off{
    font-size: small;
    color: black;
}
.garden_image{
    margin-left: none;
    
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-top: -5px;
}
.cir1{
    background-color: rgb(255, 140, 0);
    border-radius: 50%;
    padding: 4px;
    color:  rgb(255, 140, 0);
}
.cir2{
    background-color: rgb(255, 174, 74);
    border-radius: 50%;
    padding: 4px;
    color:  rgb(255, 174, 74);
}
.cir3{
    background-color: rgb(255, 219, 174);
    border-radius: 50%;
    padding: 4px;
    color:  rgb(255, 219, 174);
}
.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 104, 74);
    height: 60vh;
    margin-left: 90px;
    margin-right: 90px;
    gap: none;
    border-radius: 9px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 90px;
    
    
}
.offer35{
    font-size: xx-large;
   

}
.normal{
    margin-right: -150px;
    font-size: x-large;
    color: aliceblue;
}
.women{
    padding-bottom: 50px;
   
}
.shop_now{
        background-color: rgb(255, 140, 0);
        color: aliceblue;
        border-color:  rgb(255, 140, 0);
        padding: 10px;
        font-weight: 700;
        border-radius: 5px;
        width: 130px;
        
        
}
.customer{
    color: rgb(39, 39, 39);
    font-size: x-large;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 90px;
    text-align: center;
}
.container6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: 95px;
    margin-right: 95px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.star{
    display: flex;
    gap: 8px;
    color: rgb(242, 186, 3);
    size: 600px;
    justify-content: center;
    
}
.r1,.r2,.r3{
    text-align: center;
    background-color:rgb(236, 236, 236) ;
    border-radius: 20px;
    box-shadow: 7px 7px 7px rgb(207, 206, 206);
}
.person1,.person2,.person3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: x-large;
}
.per1{
    border-radius: 50px;
}
.num{
    font-size: xx-large;
    color: rgb(15, 224, 15);
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.para{
     margin-left: 20px;
     margin-right: 20px;
}
.container7{
    display: flex;
    background-color: rgb(217, 231, 217);
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 60px;

    
   
}
.boy{
    background-color: rgb(83, 131, 108);
     margin-top: 30px;
    width: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.delivery_boy{
    margin-bottom: -43px;
    margin-left: -110px;
    
}
.why{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: 900;
}
.ans{
    
    font-family:'Gill Sans', 
    'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
    color: rgb(145, 152, 145);
}



.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.fruit1{
    
    
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:solid gray 1.3px;
    height: 350px;
    
}
.product_description{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.best{
    font-size: 60px;
}
.pro_det{
    color: grey;
}
.addtocart{
    background-color: white;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:solid rgb(255, 119, 0);
    border-radius: 3px;
    
    
}
.watery{
    color: rgb(255, 119, 0);
    font-weight: 600;
    font-size: medium;
}
.amt{
    color:rgb(255, 119, 0);
}
.w1{
    font-size: 13px;
    
}
.strike{
    text-decoration: line-through;
    color: black;
    row-gap: 20px;
}
.sec8{
    background-color: rgb(19, 29, 59);
    height: 90vh;
    margin-top: 90px;
}
.foot1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: aliceblue;
   
}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: aliceblue;
    padding: 20px;
    padding-left: 80px;
    padding-top: 100px;
}
.social_media{
    display: flex;
    gap:20px;
   margin-top: -40px;

}
ul li{
    list-style: none;
}

.g{
    color: orange;
}
.grocery_head{
    font-size: 50px;
}
.foot2,.foot3,.foot4,.foot5{
    padding-top: 40px;
}
.about{
    font-size: x-large;
    font-weight: 900;
}
.discrip{
   margin-top: -20px;
}
